.item1 {
    grid-area: vienas;
    background-color: rgb(230, 72, 99);
}
.item2 {
    grid-area: du;
    background-color: rgb(103, 3, 242);
}
.item3{
    grid-area: trys;
    background-color: rgb(159, 124, 241);
}
.item4{
    grid-area: keturi;
    background-color: rgb(65, 225, 239);
}
.item5{
    grid-area: penki;
    background-color: rgb(213, 110, 222);
}
.item6{
    grid-area: sesi;
    background-color: rgb(230, 72, 99);
}
.item7{
    grid-area: septyni;
    background-color: rgb(103, 3, 242);
}
.item8{
    grid-area: astuoni;
    background-color: rgb(159, 124, 241);
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh 15vh 15vh 10vh 10vh; /* Geriau rasyti dydi cia, nes keiciant dydi apacioj, neberodo antro "du" divo */
    grid-template-areas:
    'vienas vienas vienas'
    'du trys keturi'
    'du penki penki'
    'sesi sesi septyni'
    'astuoni astuoni astuoni';
}
.container div{
    text-align: center;
    color: white;
    font-size: 2em;
}
body{
    background-color: #121212;
}
